click==7.1.1
Flask==1.1.1
gazpacho==0.9.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pytube==9.6.0
pytube3==9.6.4
pywebview==3.2
quote==1.0
typing-extensions==3.7.4.1
Werkzeug==1.0.0
guizero
Pillow
requests